.scientific_work{
  h5{
    font-size: 16px;
    font-family: 'RobotoBold';
    margin-bottom: 25px;
  }
  ul{
    margin-bottom: 30px;
    li{
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
  p{
    line-height: 22px;
  }
  .left-info{
    padding-right: 15px;
  }
  .right-info{
    padding-left: 15px;
  }
}